@import "handsontable/dist/handsontable.full.css";
@import "./grid.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: #161515;
}

